<footer class="text-center text-lg-start bg-dark" data-bs-theme="dark">

  <div class="container-fluid d-flex justify-content-center align-items-center gap-3 py-5">

    <a href="https://wa.me/21965471951" class="footer-btn">
      <i class="fab fa-whatsapp"></i>
    </a>

    <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-cardozo-fernandes/" class="footer-btn">
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://www.instagram.com/dev.joaovic/" class="footer-btn">
      <i class="fab fa-instagram"></i>
    </a>

    <a href="https://github.com/Johnvic17" class="footer-btn">
      <i class="fab fa-github"></i>
    </a>

  </div>

  <div class="footer-copyright text-center text-white">
    © 2026 JJA Gráfica. Todos os direitos reservados.
  </div>

</footer>