<footer class="text-center text-lg-start bg-dark" data-bs-theme="dark">

  <div class="container-fluid d-flex justify-content-center align-items-center gap-3 py-5">

    <a href="https://api.whatsapp.com/send?phone=%2B5521964694667" class="footer-btn icon">
      <i class="fab fa-whatsapp"></i>
    </a>

    <a href="https://www.facebook.com/GraficaJJA" class="footer-btn icon">
      <i class="fab fa-facebook"></i>
    </a>

    <a href="https://www.instagram.com/jjagrafica/" class="footer-btn icon">
      <i class="fab fa-instagram"></i>
    </a>

  </div>

  <div class="footer-copyright text-center text-white">
    © 2026 JJA Gráfica. Todos os direitos reservados.
  </div>

</footer>