<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <img src="/assets/LOGO JJA TRANSPARENTE 2.png" alt="Logo JJA" class="logo">
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-3 ">
            <a class="nav-item nav-link text-white fw-bold" data-action="whatIs" href="">O que é?</a>
            <a class="nav-item nav-link text-gray" data-action="organization" href="">Organização</a>
            <a class="nav-item nav-link text-gray" data-action="reserve" href="">Reservas</a>
            <a class="nav-item nav-link text-gray" data-action="rule" href="">Regras</a>            
            <a class="nav-item nav-link text-gray" data-action="tips" href="">Dicas</a>
            <a class="nav-item nav-link text-gray" data-action="simulator" href="">Simulador</a>
            <a class="nav-item nav-link text-gray" data-action="503020" href="">Regra 50-30-20</a>
            </div>
        </div>
</nav>