<link rel="stylesheet" href="../style.css">

<nav class="navbar navbar-expand-lg bg-dark navbar-fixed" data-bs-theme="dark">
    <a data-action="home" class="navbar-logo"><img src="/assets/LOGO JJA TRANSPARENTE 2.png" alt="Logo JJA" class="logo"></a>
    <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-3 ">
            <a class="nav-item nav-link text-white fw-bold" data-action="about" style="letter-spacing: 1px;">SERVIÇOS</a>
            <a class="nav-item nav-link text-gray" data-action="services" >Sobre nós</a>
            <a class="nav-item nav-link text-gray"
                href="https://api.whatsapp.com/send?phone=%2B5521964694667">Contato</a>
            <a class="nav-item nav-link text-gray"
                href="https://www.google.com/maps/place/JJA+Gr%C3%A1fica/@-22.8087393,-43.0177629,17z/data=!3m1!4b1!4m6!3m5!1s0x99909fb0584b09:0x4c51689894a9710a!8m2!3d-22.8087393!4d-43.0177629!16s%2Fg%2F11b6gctsrz?entry=ttu&g_ep=EgoyMDI2MDkzMC4wIKXMDSoASAFQAw%3D%3D">Localização</a>
        </div>
    </div>
</nav>